/* General Styles */
#content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}



.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f9f9f9;
    gap: 135px;
}

.base-image {
    width: 375px;
    height: 130px;
    position: absolute;
    border: 5px solid #f8d210;
}

.me-image {
    display: none;
    position: absolute;
}

#eye1 {
    position: relative;
    height: 60px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pupil1 {
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.05s ease-out;
}

#eye2 {
    position: relative;
    height: 55px;
    width: 85px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pupil2 {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.05s ease-out;
}