/* =========================================
   Global Styles
========================================= */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    place-items: flex-start !important;
    padding-bottom: 60px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#root {
    width: 100%;
}

/* =========================================
   Header Styles
========================================= */
/* Normal */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #212529;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-right: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: height 0.5s ease-in-out;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

header .interactive-header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

header .container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

/* State-Based */
header.open {
    height: 300px;
}

/* =========================================
   Logo Styles
========================================= */
/* Normal */
.logo-container {
    margin: 0;
    display: flex;
    height: inherit;
    align-items: center;
    object-fit: contain;
    gap: 10px;
}

.logo {
    width: auto;
    height: inherit;
    object-fit: contain;
    transition: height 0.5s ease-in-out;
}

/* =========================================
   Menu Button Styles
========================================= */
/* Normal */
.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    padding: 0;
}

button:hover {
    color: #f8d210;
    outline: #212529;
}

.menu-button:hover {
    color: #f8d210;
}

/* =========================================
   Menu List Styles
========================================= */
/* Normal */
.menu-list {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    background: #343a40;
    transition: opacity 0.3s ease-in-out;
}

.menu-list button {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    padding: 0 10px;
}

/* State-Based */
.menu-list.open {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: flex-start;
}

.menu-list button:hover,
.menu-list button:focus {
    border-color: transparent;
    color: #f8d210;
}

.menu-list a:hover {
    color: #f8d210;
}

.menu-list li.active button {
    border-radius: 0;
    border-left: 5px solid white;
}

/* =========================================
   Chat Button Styles
========================================= */
/* Normal */
.hire-me {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.hire-me:hover {
    border-radius: 0px;
    border: 5px solid white;
    color: white;
}

.chat-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    fill: currentColor;
}

.hire-me {
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 5px solid transparent;
}

/* State-Based */
.chat-button.hidden {
    display: none;
    transition: all 1s ease-in-out;
}

/* =========================================
   Footer Styles
========================================= */
/* Normal */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #212529;
    color: white;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

footer p {
    margin: 0;
    font-weight: 300;
}

/* =========================================
   Shared Button Styles
========================================= */
button,
button:hover,
button:focus {
    outline: none !important;
}