.side-menu {
    display: flex;
    width: 300px;
    background-color: #343a40;
    flex-direction: column;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
    overflow-y: auto;
    padding-top: 100px;
    transition: width 0.5s ease, padding 0.5s ease;
}

.side-menu.collapsed {
    padding: 20px;
    width: 49px;
    padding-top: 100px;
    transition: width 0.5s ease, padding 0.5s ease;
}

.side-menu.collapsed .menu-sections {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-sections {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.collapse-button {
    font-size: 3rem !important;
    margin-left: 20px;
    margin-top: 20px;
    transition: margin 0.5s ease;
}

.collapse-button:hover {
    color: #f8d210;
}

.menu-sections,
.collapse-button {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section {
    margin: 20px;
}

.collapse-button,
.section-title {
    background: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
}

.section-title:hover {
    color: #f8d210;
}

.submenu {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 10px 0;
    display: none;
}

.submenu.open {
    display: block;
}

.submenu-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px 0;
    display: block;
}

.submenu-item a:hover {
    color: #f8d210;
}

.collapse-button {
    margin-left: 20px;
    margin-top: 20px;
    transition: margin 1s ease;
}

.collapse-button.collapsed {
    margin-left: 0px !important;
    margin-top: 0px !important;
    display: flex;
    justify-content: center;
    transition: margin 0.5s ease;
}